In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

# Ans 1

In [3]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Ans 2

loc and iloc are both methods in the pandas library that allow you to select data from a DataFrame based on indices or labels.

loc is primarily label-based, meaning that it is used to select data based on row labels and column names. You can use loc to select rows and columns by passing the row label(s) and column label(s) as arguments. For example, to select the value in row 'A' and column 'B' of a DataFrame df, you would use df.loc['A', 'B'].

iloc, on the other hand, is primarily integer-based, meaning that it is used to select data based on the integer position of the rows and columns. You can use iloc to select rows and columns by passing the row index(es) and column index(es) as arguments. For example, to select the value in the first row and second column of a DataFrame df, you would use df.iloc[0, 1].

# Ans 3

In [5]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [6]:
new_df = df1.reindex([3,0,1,2])
new_df .loc[2]

column_1    0.696954
column_2    0.598556
column_3    0.871830
column_4    0.875130
column_5    0.462360
column_6    0.133802
Name: 2, dtype: float64

# Ans 4

In [7]:
df1.mean()

column_1    0.706736
column_2    0.575666
column_3    0.535644
column_4    0.486494
column_5    0.485750
column_6    0.477869
dtype: float64

In [8]:
df1['column_2'].std()

0.19370428949676674

# Ans 5

In [9]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [10]:
df1.loc['column_2',1]= "name"

In [11]:
df1['column_2'].mean()

0.4469658154383303

# Ans 6

In pandas, a window function (also known as a rolling or sliding window) is a function that operates on a specified window of data in a time series or DataFrame. The window moves over the data in a specified direction, such as forward or backward, and calculates a statistic or value for each window.

The different types of window functions available in pandas are:

Rolling: This function creates a rolling window object that can be used to perform calculations on a rolling window of data. The window can be specified using the window size, which can be either a number of periods or a time frequency.

Expanding: This function creates an expanding window object that can be used to perform calculations on an expanding window of data. The window starts from the first period and includes all preceding periods.

Exponentially weighted: This function creates an exponentially weighted moving window object that can be used to perform calculations on a moving window of data. The window size can be specified using the span or the center of mass, which controls the rate at which the weights decrease over time.

Rolling with time-based offsets: This function creates a rolling window object that uses a time-based offset to define the window size. The window can be specified using a time frequency, such as hours, days, or weeks.

Rolling with variable-length windows: This function creates a rolling window object that has a variable-length window size. The window size can be defined based on the values in the data or using a function that calculates the window size.

These window functions can be used to perform various calculations on time series data, such as calculating rolling means, cumulative sums, and exponential moving averages. They are powerful tools for analyzing and visualizing time series data in pandas.

# Ans 7

In [12]:
import pandas as pd

# get the current date and time
current_date = pd.datetime.now()

# extract the month and year from the current date
current_month = current_date.month
current_year = current_date.year

# print the month and year
print("Current month: ", current_month)
print("Current year: ", current_year)

Current month:  12
Current year:  2023

/tmp/ipykernel_109/1498775486.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_date = pd.datetime.now()

# Ans 8

In [14]:
import pandas as pd

# Prompt user to enter two dates in the format YYYY-MM-DD
date1 = input("Enter first date (YYYY-MM-DD): ")
date2 = input("Enter second date (YYYY-MM-DD): ")

# Convert user input to datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate difference between dates using Pandas time delta
delta = date2 - date1

# Calculate total number of minutes and hours in delta
total_minutes = delta.total_seconds() / 60
total_hours = total_minutes / 60

# Display result
print("Difference between", date1.date(), "and", date2.date(), "is:")
print(delta.days, "days,", int(total_hours), "hours,", int(total_minutes) % 60, "minuts")

Enter first date (YYYY-MM-DD):  2023-02-27
Enter second date (YYYY-MM-DD):  2023-04-05

Difference between 2023-02-27 and 2023-04-05 is:
37 days, 888 hours, 0 minuts

# Ans 9

In [ ]:
import pandas as pd

# prompt the user to enter the file path, column name, and category order
file_path = input("Enter the file path: ")
col_name = input("Enter the column name: ")
categories = input("Enter the category order (comma-separated): ").split(",")

# read the CSV file
df = pd.read_csv(file_path)

# convert the specified column to categorical data type
df[col_name] = pd.Categorical(df[col_name], categories=categories, ordered=True)

# display the sorted data
print(df.sort_values(by=[col_name]))

# Ans 10

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# prompt the user to enter the file path
file_path = input("Enter the file path: ")

# read the CSV file
df = pd.read_csv(file_path)

# create a pivot table to group the data by product category and year
pivot = pd.pivot_table(df, values='month_number', index='total_units', columns='total_profit', aggfunc='sum')

# plot the stacked bar chart
pivot.plot(kind='bar', stacked=True)

# set the chart title and axis labels
plt.title('Sales by Product Category')
plt.xlabel('Year')
plt.ylabel('Sales')

# display the chart
plt.show()

In [ ]:
# A